@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,700');
/*font-family: 'Fira Sans', sans-serif;*/

html {
  width: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: 'Play', sans-serif;
  width: 100%;
  overflow-x: hidden;
  font-family: 'Fira Sans', sans-serif;
}

.header {
  border-bottom: 1px solid #e9e9e9;
}

input[type="password"]:focus,
input[type="email"]:focus,
input[type="name"]:focus,
input[type="text"]:focus,
input[type="search"]:focus,
textarea {
  box-shadow: none!important;
  outline: none!important;
}

button:focus,
button.close:focus,
a.btn:focus {
  outline: none!important;
  box-shadow: none!important;
}

iframe {
  width: 100%;
  height: 70vh;
  border: 0;
}

p.font-size-number {
  font-size: 2rem!important;
}

.btn-light:hover {
  background: #DCF4FD!important;
}

.btn-success {
  background: #59a840!important;
}

.btn-success:hover {
  background: #77C45E!important;
}

.text-success {
  color: #59a840!important;
}

.btn-primary {
  background: #039ad3!important;
}

.btn-primary:hover {
  background: #45B4DE!important;
}

.border-primary {
  border-color: #039ad3!important;
}

.border-radius {
  border-radius: .25rem!important;
}

.border-radius-none {
  border-radius: 0!important;
}

.overflow {
  overflow: hidden;
}

.text-overflow {
  text-overflow: ellipsis;
}

.fa-6x {
  font-size: 8.5rem;
}

.text-decoration-none,
.package-link {
  text-decoration: none!important;
}

.category:hover .category-icon {
  background-color: #e9e9e9;
}

.dropdown-item:focus {
  background-color: #e9e9e9;
  color: #000;
}

#nav a {
  text-decoration: none!important;
}

#nav .logo {
  font-size: 1.15rem;
  z-index: 4;
}

#nav .fa-fish {
  transform: rotateZ(45deg);
  -webkit-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
}

#arrow-left .fa-2x {
  font-size: 1.5rem;
}

#navbarTogglerDemo01 {
  max-height: 100vh;
  overflow: auto;
}

.navbar-toggler,
.navbar-toggler:focus {
  border: none!important;
  outline: 0;
}

.collapse-left {
  width: 100vw!important;
  top: 0;
  left: 0;
  z-index: 3;
}

#nav .width-input {
  min-width: 35vmax;
}

#button-addon {
  background-color: #E9E9E9!important;
}

#nav a.go-into:hover {
  background: #039ad3!important;
  color: #fff!important;
}

#nav .input-group button:focus,
#nav .main-buttons a {
  box-shadow: none!important;
}

#nav .input-group .btn-outline-muted {
  background-color: #E9E9E9!important;
}

#nav .input-group .btn-outline-muted:hover {
  background: #039ad3!important;
  color: #fff!important;
}

#nav .main-buttons {
  height: 34px;
}

#nav .user-photo {
  font-size: 34px;
  opacity: .8;
}

#nav .user-photo:hover {
  opacity: 1;
}

#nav .main-buttons a:first-child:hover {
  color:  #039ad3!important;
}

#nav .main-buttons .go-into {
  background-color: #E9E9E9!important;
}

#nav .main-buttons a.go-into:hover {
  background-color: #F2F0F0!important;
  color: #6c757d!important;
}
/*collapsed menu*/
#navbarToggler-right button {
  z-index: 5!important;
}

#navbarToggler-right .user-menu-items:hover {
  background-color: #e9e9e9!important;
}

.collapse-right {
  top: -70px;
  left: 0;
  z-index: 5;
}

.collapse-right-profile {
  width: 100vw;
  left: 0;
  top: -5px;
  z-index: 5;
}

.close-main {
  font-size: 2.5rem;
  z-index: 2;
}

.close-sm {
  font-size: 2.5rem;
}

.close {
  font-size: 2.5rem;
  top: 60px;
  left: 0;
  z-index: 3;
}

.border-dark {
  border: 1px solid #e9e9e9;
}

#menu-user-lg a {
  text-decoration: none!important;
}

#menu-user-lg .user-menu-items:hover {
  background-color: #e9e9e9!important;
}

#menu-user-lg {
  width: 14rem;
  left: 77.2vw;
  top: 60px;
  z-index: 5;
  display: none;
}
/*menu carousel*/
#container-rotation {
  min-width: 150vw;
  margin-top: 10px;
}

.height-100 {
  height: 100px;
}

#container-rotation .dropdown-menu {
  min-width: 20vw;
  -webkit-filter: blur(0);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;  
  -ms-backface-visibility: hidden;   
  -o-backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
}

#container-rotation .button-group {
  right: 50vw;
  top: 10px;
  z-index: 4;
}

.button-group .btn-light:hover {
  background-color: #e9e9e9!important;
}
/*dropdown*/
#container-rotation .nav-link {
  min-width: 110px;
  max-width: 140px;
  height: 100px;
  position: static;
  left: 0px;
}

#container-rotation li.nav-item:hover .dropdown-menu {
  display: block!important;
  -webkit-transform: scaleZ(.999) translateZ(0) perspective(-1px);
  zoom: 99.999999%;
}

#container-rotation .dropdown-item:hover .inline-items {
  background: #E9E9E9;
}

#rotate {
  overflow: unset;
  z-index: 4;
  -webkit-transform-style: flat;
  -0-transform-style: flat;
  -moz-transform-style: flat;
  transition: all .8s ease-in-out;
  -webkit-transition: all .8s ease-in-out;
  -o-transition: all .8s ease-in-out;
  -moz-transition: all .8s ease-in-out;
}

.rotation-items {
  width: 150vw;
  height: 100px;
}

.inline-items {
  transition: all 1.2s ease;
  -webkit-transition: all 1.2s ease;
  -o-transition: all 1.2s ease;
  -moz-transition: all 1.2s ease;
}

.inline-items:hover,
.inline-items:focus {
  background: #E9E9E9;
}

#rotate a.dropdown-item:focus {
  background-color: #E9E9E9!important;
  color: #000!important;
}
/*search section*/

#search .form-inline input[type="search"] {
  padding-left: 25px;
}

#search .form-inline .fa-search {
  position: relative;
  margin-right: -25px;
}

#search:nth-child(2) {
  z-index: 1;
}

/*carousel*/
.slick-prev:before,
.slick-next:before {
  font-size: 2rem;
  line-height: 1;
  opacity: .75;
  color: #000;
}

.slick-prev {
  left: 10vmax;
  z-index: 3;
}

.slick-next {
  right: 10vmax;
  z-index: 3;
}

.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 35%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
}

#carousel .img-item {
  height: auto;
}

#carousel .overlay{
  top: -3rem;
}

#carousel a {
  text-decoration: none!important;
}

#carousel a:hover {
  text-shadow: 2px 2px #000;
}
/*carousel view-description*/
#carousel-goods .carousel-inner {
  max-height: 500px;
}

.carousel-control-prev {
  left: -1.7vmax;
}

.carousel-control-next {
  right: -1.7vmax;
}
/*main*/
#forms-sm input.form-control,
#forms-sm .input-group-text {
  border: none!important;
}

#main .user-online {
  bottom: -1.75rem;
  right: 1.5rem;
  z-index: 3;
}

#main .user-online-profile {
  top: 5.2rem;
  left: 1.6rem;
  z-index: 3;
}

#main .decoration-none {
  text-decoration: none;
}

#discription .img-sign {
  width: .8rem;
  height: auto;
}

#aside .img-sign-big {
  width: 1.24rem;
  margin-bottom: 1px;
}

#main button.btn-dots {
  border: none!important;
  outline: none!important;
}

#main .dropdown-menu .danger-link:hover {
  color: #dc3545!important;
}

#main .danger .danger-link:hover {
  color: #dc3545!important;
}

#main .dropdown-toggle {
  box-shadow: none!important;
  outline: none!important;
}

#main .dropdown-menu {
  border-radius: 0!important;
  -moz-border-radius: 0!important;
  -webkit-border-radius: 0!important;
  -o-border-radius: 0!important;
}

#main .card,
.card-img-top {
  border-top-left-radius: .1rem!important;
  border-top-right-radius: .1rem!important;
}

#main .fa-2x {
  font-size: 1.4rem;
}

#main .position-relative-col {
  position: relative;
}

#main .position-absolute-card {
  position: static;
}

#main .btn-light:hover {
  background: #DCF4FD!important;
}

#main .dropdown .btn-white:hover {
  background: #f8f9fa!important;
}

#main .dropdown .dropdown-toggle::after {
  margin-left: .18em!important;
}

.card-img-top {
  height: 9.375rem!important;
}

#main .filtr-link:hover {
  color: #343a40!important;
}

#main .social-links .rounded-circle {
  width: 2em;
  height: 2em;
}

#main .border-radius {
  border-radius: .1rem!important;
}

#main .card a {
  z-index: 2!important;
}

#main .card-body,
.card-img-overlay a.img-link-overlay {
  z-index: 3!important;
}

#main .card-body. a {
  z-index: 4!important;
}

#main .img-transition-view {
  min-height: 150px;
}

#main .img-transition-view,
.card-img-top {
  opacity: .93;
}

.card-inline:hover .img-transition-view {
  opacity: 1;
  transform: scale(1.01);
  -webkit-transform: scale(1.01);
  -o-transform: scale(1.01);
  -moz-transform: scale(1.01);
}

.card:hover .card-img-top {
  opacity: 1;
  transform: scale(1.01);
  -webkit-transform: scale(1.01);
  -o-transform: scale(1.01);
  -moz-transform: scale(1.01);
}

#main .card .details {
  display: none;
}

#main .card-inline:hover .text-card {
  background: #f8f9fa;
}

/*aside*/
#aside .price {
  font-size: 2.5rem;
}

#aside .fa-2x {
  font-size: 1.5rem;
}

#headingOne,
#headingThree {
  border-bottom: 0!important;
}

#accordion input[type="checkbox"]:focus,
#accordion input[type="radio"]:focus {
  visibility: hidden;
}

#accordion .headingTwo {
  border-bottom: 0!important;
}

#accordion .card-header {
  background: #fff!important;
}

#accordion .card-header:hover {
  background: #f8f9fa!important;
}

/*progress*/
#outer,
#outer-sm {
  width: 5em;
  height: 1em!important;
}

#overlay,
#overlay-sm {
  width: 10%;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 4;
}

#overlay-none {
  width: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 4;
}

#inner,
#inner-sm {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
}
/*end progress*/
#current-user-menu a.user-menu-items {
  text-decoration: none;
}

#current-user-menu .user-menu-items:hover {
  background-color: #e9e9e9!important;
}
/*similar section*/
.card,
.card-img-top {
  border-top-left-radius: .1rem!important;
  border-top-right-radius: .1rem!important;
}

.img-link {
  z-index: 2!important;
}

.img-link-overlay {
  z-index: 3!important;
}

.card-name {
  z-index: 4!important;
}

#similar .fa-2x {
  font-size: 1.5rem;
}

#similar .img-sign {
  width: .65rem;
}
/*available-unvisible*/
#available .fa-2x,
#unvisible-lg .fa-2x {
  font-size: 1.5rem;
}

#available .img-sign,
#unvisible-lg .img-sign {
  width: .65rem;
}

span.sold {
  z-index: 4!important;
}

.scrollup{
  position: fixed;
  bottom: 150px;
  right: 40px;
  display: block;
  z-index: 1000;
}

@media screen and (min-width: 1200px) {

  #nav .width-input {
    min-width: 40vmax;
  }
  
  #container-rotation .button-group {
    right: 51vw;
  }

  .container-xl {
    max-width: 1200px;
    margin: 0 auto;
  }

  #main .position-absolute-button {
    position: absolute;
    bottom: -1.3rem;
    right: .85rem;
    z-index: 3;
  }

  #main .card:hover a.details {
    display: block;
  }
}

@media screen and (min-width: 992px) {
  .header {
    border-bottom: none;
  }

  .form-inline {
    margin-left: 0;
  }

  #carousel .slick-prev {
    left: 18vmax;
  }

  .slick-next {
    right: 18.8vmax;
  }

  .carousel-control-prev,
  .carousel-control-next {
    top: -3rem;
  }

  .form-inline {
    margin-left: 0;
  }
}

@media screen and (min-width: 576px) {

  #main .img-transition-view {
    height: 9.375rem;
  }

   #similar .card .img-transition {
    height: auto;
  }
}

@media screen and (max-width: 320px) {

  .header {
    max-width: 320px;
  }

  nav {
    max-width: 320px;
  } 
}

@media screen and (max-width: 468px) {

  .header {
    max-width: 468px;
  }

  nav {
    max-width: 468px;
  } 
}

@media screen and (max-width: 768px) {
  .header {
    max-width: 768px;
  }

  nav {
    max-width: 768px;
  } 
}